version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./frontend/coverage:/app/frontend-coverage
    env_file:
      - ./backend/.env.development
    ports:
      - "5001:5001"
    environment:
      - NODE_ENV=development
      - DOCKER_ENV=true

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env.development
    ports:
      - "5173:5173"
    depends_on:
      - backend
