version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    volumes:
      - ./frontend/coverage:/app/frontend-coverage
    env_file:
      - ./backend/.env.production
    ports:
      - "5001:5001"
    environment:
      - NODE_ENV=production
      - DOCKER_ENV=true
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
